<form method="post" action="?_method=PUT">
    <div class="form-group">
        <label for="msv">msv</label>
        <input type="text" class="form-control" id="msv" name="msv" value="{{data.msv}}">
    </div>

    <div class="form-group">
        <label for="name">Ten</label>
        <input type="text" class="form-control" id="name" name="name" value="{{data.name}}">
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="{{data.email}}">
    </div>

    <div class="form-group">
        <label for="phone">phone</label>
        <input type="text" class="form-control" id="phone" name="phone" value="{{data.phone}}">
    </div>

    <div class="form-group">
        <label for="address">Dia chi</label>
        <input type="text" class="form-control" id="address" name="address" value="{{data.address}}">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>
